.surpass .form {
	display: none; background-color: rgba(0,0,0,0.6); border: 4px solid rgba(201,201,201,0.7); 
	width: 250px;
	font-family: Verdana, sans-serif;
	padding: 10px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	overflow: auto;
	
}


.surpass .surpasssave {float:right; clear: both; margin-top: 5px}
.surpass p {margin: 0; padding: 0;}
.surpass .sitename {font-weight: bold}
.surpass fieldset {clear: both; display: block; padding: 5px;}
.surpadd fieldset p {margin-bottom: 10px;}
.surpass fieldset input {float: left; width: auto; margin-bottom: 10px; margin-top: 5px; clear: left}
.surpass fieldset label {float: left; width: 150px; margin-bottom: 5px; padding: 5px} 

.surpass .label {cursor: pointer;
padding-left: 2px; padding-right: 2px;
display: inline;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: block; background-color: rgba(0,0,0,0.5);
border: 2px solid rgba(201,201,201,0.7);
border-top: 0;
width: 40px;
text-align: center;
}


.surpass .nokeyset {border: 2px solid red; background-color: #ff3333; color:white; display: none}
.surpass a {color: white; text-decoration: underline}
